{% extends 'core/base.html' %}

{% block title %}This demo title should be replaced{% endblock %}
{% block h1 %}This demo h1 should be replaced{% endblock %}

{% block page_content %}

    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-8 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Examaple block 1
                    </h6>
                </div>
                <div class="card-body">
                    This demo content should be replaced
                </div>
            </div>

        </div>

        <div class="col-lg-4 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Example block 2</h6>
                </div>
                <div class="card-body">
                    And this demo content should be replaced
                </div>
            </div>

        </div>

    </div>  <!-- /.row -->

{% endblock %}